*{
    box-sizing:border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(5, 0, 0);
    color: white;
}
nav{
    background-color: rgba(33, 33, 33, 0.8);
    justify-content:space-between;
    display: flex;
    align-items:center;
    padding:15px 30px;
    border-radius: 15px;
    position: sticky;
}

.navLeft {
    display:flex;
    align-items:center;
    text-decoration: none;
    gap:10px;

}

.navRight {
    display:flex;
    align-items:center;
    list-style: none;
    gap:30px;
}



ul a {
    text-decoration: none;
    color: white;
    background: #ff7b2c;
    padding: 10px 20px;
    border-radius: 20px;
    transition:0.3s;
    
}

ul a:hover {
    background: #ff7b2c;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    transition:0.3s;
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid coral;
}

.Body{
    display:flex;
    /* align-items:flex-start; */
    justify-content:space-between;
    gap:20px;
    padding:20px;
    flex-wrap:nowrap;
}

.leftBody{
    text-align: justify;
    padding:20px;
    margin-top:20px;

    /* background-color: rgba(255, 99, 3, 0.8); */

}

leftBody h1 {
    font-size: 36px;
    margin: 0;
    padding:10px
}

.social-media {
    display: flex;
    gap: 15px;
    padding: 10px;
    margin-top: 20px;
}

.hero-image{
    display:flex;
    justify-content:center;
    padding:20px;
    border-radius:15px;
    object-fit: cover;
    /* background-color: rgba(3, 255, 226, 0.8); */

}

.heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.rightBody {

    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex:1;
    /* background-color: #fe9655; */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    
}

.card {
    display: inline-block;
    background-color: rgba(255, 99, 3, 0.8);
    border-radius: 15px;
    height: 180px;
    width: 140px;
    text-decoration: none;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.icon {
    align-items: center;
   border-radius: 50%;
    width: 60px;
    height: 60px;
   font-size: 40px;
   background-color: rgb(53, 52, 52);
     

}

.texthighlight {
    color: #fe9655;
    font-weight: bold;
    text-decoration: none;
}

.highlight{
    color: #ff7d2c;
}

.leftBody h1 {
    font-size: 36px;
    margin: 0;
}

.line {
    width:50px;
    height: 4px;
    background: #ff7b2c;
    margin-top: 10px 0;
}

.center-line {
    width:200px;
    height: 4px;
    margin: 20px auto;
    background: #ff7b2c;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hero-image img{
    width:100%;
    max-width:300px;
    height:auto;
    filter: drop-shadow(0 0 10px rgba(255, 99, 3, 0.8));
}

.hero-image img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px rgba(255, 99, 3, 1.5));
}



.leftBody p {
    font-size: 18px;
    margin: 0;
    text-align: left;
    max-width: 500px;
}

ul  a{
    text-decoration: none;
    color: white;
    background: transparent;
}
